.heading{
    text-align: center;
    color:gold;
}

.subheading{
    color:brown;
}

.title{
    text-align: center;
    color:darkorange;
}

body{
    background-color:blanchedalmond;
}
