#title{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-align: center;
    color:white;
    text-transform: uppercase;
}

.picture{
    border: 5px solid white;
    width:15%;
    margin-left: 42.5%; 
}

#about{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: white;
    text-transform: capitalize;
}

#title1{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: white;
}

#title2{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    border: 2px solid white;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
}

body{
    background-color:black;
}

#titloo{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color:white;
}

.center{
    text-align: center;
}

